body{
    text-align: center; 
    background-color: lightblue;
}

h1{
    line-height: 100px; 
}

h3{
    line-height: 0px;
}

.diff{
    height:100px; 
    width: 400px; 
    margin: 30px; 
    font-size: 30px; 
    background-color: darkblue;
    color: white;
    border-color: white; 
    border-radius: 12px;
}

.diff:hover{
    color:lightblue; 
    border-color: black;
    border-width:10px;
}

.difficulties{
    max-width: 450px;
    margin:auto; 
}